body {
    font-size: 14px;
    color: white;
    font-size: 12px;
    background-color: black;
}
p {
    margin: 0px;
}
div {
    margin: 0px;
    padding: 0px;
}
button {
    margin-left: 5px;
    color: red;
    background-color: blue;
    border: 0px solid black;
    padding: 0px 3px 0px 3px;
    cursor: pointer;
}
button:disabled, button[disabled] {
    color: darkGrey;
    background-color: grey;
}
ul {
    padding-left: 10px;
    list-style-type: none;
    color: green;
}
ul a {
    color: #0f0;
    text-decoration: none;
}
input:not([type]), input[type="text"] {
    background-color: grey;
    border: 0px solid black;
    border-bottom: 1px solid white;
    padding-top: 0px;
    margin-left: 1px;
    width: 220px;
    color: yellow;
}
table {
    width: 100%;
    margin-top: 5px;
    background-color: navy;
}
th {
    color: orange;
    background-color: #77f;
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}
td {
    margin: 0px;
    padding: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 2px;
}
.banner {
    background-image: url(/img/logo.png);
    background-repeat: no-repeat;
    height: 56px;
}
.banner::after {
    content: 'Lychee';
    font-size: 30px;
    padding-left: 100px;
    font-style: italic;
}
#menu, #content {
    display: table-cell;
}
#menu {
    width: 150px;
}
#content {
}
.item_selector {
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 200px;
    height: 200px;
    z-index: 1;
}
.item_selector table {
    background-color: green;
}
